@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.iconnav {
    font-size: 30px;
    color: #000;
    /* margin-right: 10px; */
}

.containernav span {
    font-family: "Mali", cursive;
    font-weight: 900;
    font-style: normal;

}

.containernav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* ค่านี้ทำให้ Navbar อยู่ด้านหน้าของเนื้อหาอื่นๆ */
    background-color: white;
    /* ตั้งค่าแบ็กกราวน์เพื่อให้ Navbar เห็นได้ชัด */

}

.iuser {
    stroke-width: 1.6;
}

ul {
    /* width: 225px; */
}