@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.containerh {
    width: 1300px;
    margin: 0 auto;
    /* outline: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.relative {
    margin-top: 10px;
}

.relative img {
    width: 250px;
    height: 165px;
    object-fit: cover;
}

.b {
    background-color: #F8F6F2;
    /* outline: 2px solid green; */
    min-height: 100vh;
    min-width: 100%;
}

.no-border {
    border: none;
    outline: none;
    /* This removes the default focus outline */
}

.containerh .container1 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* width: 1000px; */
    /* outline: 5px solid rgb(255, 0, 0); */
    /* margin-top: 20px; */
    padding-top: 50px;

    /* font-family: "Mali", cursive;
    font-weight: 900;
    font-style: normal; */
    position: relative;
}


.containerh .container1 a span {
    font-family: "Mali", cursive;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;

}

.b .containerh .container1 a img {
    border-radius: 50%;
}

.containerh .container2 {
    margin-top: -10px;
    display: flex;
    /* outline: 5px solid rgb(43, 255, 0); */
    /* font-size: 40px; */
    font-family: "Mali", cursive;
    font-weight: 900;
    font-style: normal;

}

.clicked {
    background-color: #FF9F1C !important;
    border-color: #FF9F1C !important;
}

.post {
    display: flex;
    margin-top: 20px;
}

.post button {
    margin: 10px 40px 40px 40px;
    width: 270px;
    border: none;
    outline: none;
    font-size: 25px;
    font-family: "Mali", cursive;
    font-weight: 600;
    font-style: normal;
}

.containerh .container1 h1 {
    font-size: 20px;
    font-family: "Mali", cursive;
    font-weight: 900;
    font-style: normal;
    /* outline: 2px solid orange; */
    position: absolute;
    bottom: 0;
    left: 0;
    /* margin: 16px; */

}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile .a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.p-5 {
    padding: 1.25rem;
    /* Equivalent to p-5 in Tailwind CSS */
}

.profile  p {
    padding-left: 20px;
}
/* .profile img {
    padding-right: 5px;
} */
.profile img:hover {
    outline: 2px solid #2EC4B6;
    transition: 0.2s ease;}

.card {
    width: 250px;
    margin: 0 10px;
    min-height: 320px;
}

.containerh .container2 a p {
    font-size: 15px;
    font-family: "Mali", cursive;
    font-weight: 900;
    font-style: normal;
    color: #000;
    padding: 0px 2px;
}

.containerh .container2 a h5 {
    font-size: 15px;
    font-family: "Mali", cursive;
    font-weight: 900;
    font-style: normal;
    color: #000;
    padding: 0px 2px;
}

.IoRibbonOutline {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
}

.containerh .container2 .card a img {
    position: relative;
}

.moblie-menu {
    /* display: none; */
    font-size: 1.8rem;
    z-index: 100;
    color: #FF9F1C;
    /* pointer-events: stroke; */
    /* background-color: #000; */
}
.AiOutlineEllipsis{
    font-size: 2.5rem;
}
.FaHeart {
    color: red;
}
@media screen and (max-width: 480px) {
    /* .moblie-menu {
        display: block;
        color: #fff;
        font-size: 2rem;
    } */
}