.statusUser{
    display: flex;
    justify-content: space-between;
    width: 100px;
    align-items: center;
    margin-top: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: "Mali", cursive;
    font-style: normal;
}

.modal-popup {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    height: auto; /* Adjust height automatically based on content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal-popup h2 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 15px; /* Space below the title */
}

.dropdown-wrapper {
    width: 30%;
}

.status-dropdown {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: "Mali", cursive;
}

.action-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px; /* Space above buttons */
}

.action-btn {
    background-color: #FF9F1C;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid transparent;
    transition: 0.3s;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.action-btn:hover {
    border: 2px solid #FF9F1C;
    background: transparent;
    color: #FF9F1C;
}

.action-btn:nth-child(2) {
    background-color: #2EC4B6;
}

.action-btn:hover:nth-child(2) {
    border: 2px solid #2EC4B6;
    background: transparent;
    color: #2EC4B6;
}
