.EditPost-btnn {
    background-color: #ffffff;
    padding: .3rem 1rem;
    text-decoration: none;
    color: #333;
    border: 2px solid #FF9F1C;
    transition: 0.3s;
    border-radius: 20px;
}

.EditPost-btnn:hover {
    background-color: #FF9F1C;
    color: #ffffff;
}

.EditPost-btnn:nth-child(2){
    color: #fff;
    margin-top: 10px;
    background-color: #ff0000;
    border: 2px solid #ff0000;

}

.EditPost-btnn:nth-child(2):hover{
    background-color: #950000;
    color: #ffffff;
    border: 2px solid #950000;

}