.containers2 button {
    margin-top: 100px;
    font-size: 25px;
    font-weight: 500;
    width: 200px;
    height: 60px;
    /* color: blue; */
    
}

.containers2 h1 {
    font-size: 35px;
    font-weight: 800;
    position: absolute;
    left: 0;
}

.containers2{
    /* outline: 2px solid red; */
    width: 700px;
    font-family: "Mali", cursive;
    font-style: normal;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    /* height: 150px; */
}