/* Popup wrapper */
.popup-content {
    
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    /* max-width: 300px;  */
    /* text-align: center;  */
    font-family: Arial, sans-serif; 

  }
  
  .popup-content button {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 15px; 
    font-size: 14px; 
    /* width: 100%;  */
    box-sizing: border-box;
    display: flex;
  }
  
  .popup-content button:hover {
    background-color: #0056b3; 
  }